// Заголовки, общие БЄМ блоки и проче...
p {
    line-height: 120%;
}
* {
    color: rgb(1, 48, 57);
    font-weight: 500;
}
.button {
    padding: rem(16);
    // @include adaptiveClamp(padding-bottom, 16, 8);
    // @include adaptiveClamp(padding-top, 12, 8);
    // @include adaptiveClamp(padding-top, 12, 8);
    // @include adaptiveClamp(font-size, 16, 14);
    border-radius: 50px;
    border: 1.8px solid #fff;
    transition: all 0.3s ease  0s;
    cursor: pointer;
    font-weight: 500;
    &:active {
        transform: scale(0.98);
    }
    &.blue {
        border-color: var(--blue);
        font-weight: 700;
        border-width: 2px;
        color: var(--white-color);
        background-color: var(--blue);
        @include adaptiveClamp(padding-left, 40, 32);
        @include adaptiveClamp(padding-right, 40, 32);

        &:hover {
            opacity: 0.9;
        }

        
    }
    &.blue-light {
        color: var(--blue);
        border-color: var(--blue);
        font-weight: 700;
        border-width: 2px;
        @include adaptiveClamp(padding-top, 14, 12);
        @include adaptiveClamp(padding-bottom, 14, 12);
        @include adaptiveClamp(padding-left, 32, 26);
        @include adaptiveClamp(padding-right, 32, 26);

        &:hover {
            color: #fff;
            background-color: var(--blue);
        }
    }


}

.title-block {
    @include adaptiveClamp(font-size, 54, 27);
    font-weight: 800;
    text-align: center;
    color: rgb(1, 48, 57);
    @include adaptiveClamp(margin-bottom, 50, 30);

}


input[type="radio"] {
    display: none;
    & + label {
        position: relative;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: rem(15); 
        padding-left: rem(26);
        min-height: rem(18);
        cursor: pointer;
        &::before {
            position: absolute;
            content: '';
            width: rem(20);
            min-width: rem(20);
            height: rem(20);
            top:0;
            left: 0;
            border-radius: 50%;
            border: 1px solid var(--blue);
            z-index: 2;
        }
        &::after {
            position: absolute;
            content: '';
            width: rem(20);
            min-width: rem(20);
            height: rem(20);
            top:0;
            left: 0;
            border-radius: 50%;
            border: rem(10) solid #fff;
            background-color: var(--blue);
            transition: all 0.1s ease  0s;
            z-index: 1;
        }
    }

    &:checked + label::after {
        border-width: rem(4);
    }
}




.range {
    &__slider {
    position: relative;
    padding: 0 rem(10) 0 rem(12);
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 8px;
        background: #F9FAFB;
        border-radius: 4px;
        top:0;
        left: 0;
        }
    }
    &__row-input {
        display: flex;
        gap: rem(12);
        align-items: center;
        padding-top: rem(8);
        p {
            font-weight: 300;
        }
    }
    &__item-input {
        position: relative;
        display: inline-flex;
        justify-content: center;
        padding: rem(10) rem(10);
        border-radius: 8px;
        border: 1px solid hsl(217, 16%, 84%);
        background: #FFF;
        gap: rem(5);
        font-size: rem(14);
        // max-width: rem(108);
        
    }
    &__item-input input {
        padding: 0;
        border: none;
    }
    &__min-input, &__max-input {
        display: inline-block;
        font-size: rem(14);
        // max-width: 100%;
        width: 100%;
        padding-right: rem(30);
    }   
    &__currency {
        position: absolute;
        right: rem(7);

    }
    &__min-input {
    }

    &__max-input {
    }
    &__slider {
        margin-top: rem(24);
    }
}